@page "/questions/{topicRef:int}/{source}"
@using MedbaseHybrid.Models
@using MedbaseHybrid.Services
@inject IApiRepository repository
@inject IDatabaseRepository database
@inject IDialogService DialogService
@using Markdig

<div class="container">
    <div class="fixed-top">
        <TopNavBar>
            <div class="container-fluid">
                <span class="navbar-brand text-white mb-0 h1">Questions</span>
            </div>
        </TopNavBar>
    </div>

    @if (!QuestionPaged.Questions.Any())
    {
        <LoadingComponent />
    }
    else
    {
        <div class="m-2 position-fixed bottom-0 @(showToolbar.Equals(false) ? "d-none" : "d-block")">
            <MudPaper Elevation="25" Outlined=true>
                <MudToolBar>
                    <MudIconButton Icon="@Icons.Material.Outlined.Search" />
                    <MudGrid Spacing="1" Justify="Justify.Center">
                        <MudIconButton @onclick="() => GetQuestions(QuestionPaged.CurrentPage -1)" class="@(!(QuestionPaged.CurrentPage > 1) ? "disabled" : "")" Icon="@Icons.Material.Filled.ArrowBack">
                        </MudIconButton>
                        <MudButton Disabled="true" Typo="Typo.caption" Align="Align.Center">
                            Page @QuestionPaged.CurrentPage / @QuestionPaged.Pages
                        </MudButton>
                        <MudIconButton @onclick="() => GetQuestions(QuestionPaged.CurrentPage +1)"
                                       class="@(!(QuestionPaged.CurrentPage < QuestionPaged.Pages) ? "disabled" : "")" Icon="@Icons.Material.Filled.ArrowForward">
                        </MudIconButton>
                    </MudGrid>
                    <MudIconButton Icon="@Icons.Material.Outlined.Menu" OnClick="OpenToolbar" />
                </MudToolBar>
            </MudPaper>
        </div>
        <div class="m-2 position-fixed bottom-0 end-0 justify-content-center @(showToolbar.Equals(true) ? "d-none" : "d-block")">
            <MudFab Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.More"
                    OnClick="OpenToolbar"
                    Label="Show Toolbar"
                    Class="object-left" />
        </div>

        <div class="@(Preferences.Get("questions_font", "questions-section-mont-font"))" style="margin-bottom:100px;">
            <Virtualize Items="QuestionPaged.Questions.ToList()" Context="question" TItem="Question">
                <ItemContent>
                    <MudCard class="mb-2">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">
                                    @question.Id - @question.QuestionMain
                                </MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Feedback" OnClick="() => OpenDialog(question.Id)" Color="Color.Default" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <input hidden asp-for="@question.Id" />
                            <!--Child1-->
                            <div>
                                <MudText>a) @question.ChildA</MudText>
                                <div style="display:@(Answers == 1 && qts == question.Id ? "block" : "none")">
                                    <MudPaper Outlined="true" Class="p-1">
                                        <MudText>
                                            @question.AnswerA.ToString()
                                        </MudText>
                                        @((MarkupString)Markdown.ToHtml(question.ExplanationA == null ? " " : question.ExplanationA))
                                    </MudPaper>
                                </div>
                            </div>
                            <!--Child2-->
                            <div>
                                <MudText>b) @question.ChildB</MudText>
                                <div style="display:@(Answers == 1 && qts == question.Id ? "block" : "none")">
                                    <MudPaper Outlined="true" Class="p-1">
                                        <MudText>
                                            @question.AnswerB.ToString()
                                        </MudText>
                                        @((MarkupString)Markdown.ToHtml(question.ExplanationB == null ? " " : question.ExplanationB))
                                    </MudPaper>
                                </div>
                            </div>
                            <!--Child3-->
                            <div>
                                <MudText>c) @question.ChildC</MudText>
                                <div style="display:@(Answers == 1 && qts == question.Id ? "block" : "none")">
                                    <MudPaper Class="p-1" Outlined="true">
                                        <MudText>
                                            @question.AnswerC.ToString()
                                        </MudText>
                                        @((MarkupString)Markdown.ToHtml(question.ExplanationC == null ? " " : question.ExplanationC))
                                    </MudPaper>
                                </div>
                            </div>
                            <!--Child4-->
                            <div>
                                <MudText>d) @question.ChildD</MudText>
                                <div style="display:@(Answers == 1 && qts == question.Id ? "block" : "none")">
                                    <MudPaper Outlined="true" Class="p-1">
                                        <MudText>
                                            @question.AnswerD.ToString()
                                        </MudText>
                                        @((MarkupString)Markdown.ToHtml(question.ExplanationD == null ? " " : question.ExplanationD))
                                    </MudPaper>
                                </div>
                            </div>
                            <!--Child5-->
                            <div>
                                <MudText>e) @question.ChildE</MudText>

                                <div style="display:@(Answers == 1 && qts == question.Id ? "block" : "none")">
                                    <MudPaper Class="p-1" Outlined="true">
                                        <MudText>
                                            @question.AnswerE.ToString()
                                        </MudText>
                                        @((MarkupString)Markdown.ToHtml(question.ExplanationE == null ? " " : question.ExplanationE))
                                    </MudPaper>
                                </div>
                            </div>
                        </MudCardContent>
                        <MudCardActions class="justify-content-end">
                            <MudButton Variant="Variant.Text" OnClick="() => ShowAnswers(question.Id)" Color="Color.Primary">Answers</MudButton>
                        </MudCardActions>
                    </MudCard>
                </ItemContent>
            </Virtualize>
        </div>

@*
        <div class="fixed-top">
            <TopNavBar>
                <div class="container align-content-center justify-content-center text-center">
                    <div class="row">
                        <div class="row col">
                            <div class="col-4">
                                <button @onclick="() => GetQuestions(QuestionPaged.CurrentPage -1)" class="btn btn-outline-light @(!(QuestionPaged.CurrentPage > 1) ? "disabled" : "")">
                                    Previous
                                </button>
                            </div>
                            <div class="col-4 text-center">
                                <p style="font-size:small">
                                    Page @QuestionPaged.CurrentPage / @QuestionPaged.Pages
                                </p>
                            </div>
                            <div class="col-4">
                                <button @onclick="() => GetQuestions(QuestionPaged.CurrentPage +1)"
                                        class="btn btn-outline-light @(!(QuestionPaged.CurrentPage < QuestionPaged.Pages) ? "disabled" : "")">
                                    Next
                                </button>
                            </div>
                        </div>
                        <div class="col-2 align-self-center" @onclick="() => OpenSearchBar()">
                            <span class="oi oi-magnifying-glass text-white" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div style="display:@(searchBarOpen == true ? "block" : "none");" class="m-1">
                        <div class="row text-center">
                            <div class="col-10">
                                <InputText class="form-control" DisplayName="searchQuestions" @bind-Value="searchTerm" placeholder="Search for one keyword" />
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" @onclick="() => GetSearchQuestions()">
                                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </TopNavBar>
        </div>*@
    }
</div>



@code {
    [Parameter]
    public int topicRef { get; set; } = 0;
    [Parameter]
    public string source { get; set; }
    public int Answers { get; set; } = 0;
    public int qts;
    public bool searchBarOpen = false;
    public bool searchResultsNull = false;
    private bool showToolbar = true;
    private string searchTerm = "";

    QuestionPaged QuestionPaged = new ();

    protected override async Task OnParametersSetAsync() => await GetQuestions();

    private void ShowAnswers(int questionToShow)
    {
        qts = questionToShow;
        if (Answers == 0)
            Answers = 1;
        else if (Answers == 1)
            Answers = 0;
    }

    private async Task GetQuestions(int page = 1)
    {
        if (source.Equals("online"))
        {
            QuestionPaged = await repository.GetPagedQuestions(topicRef, page, 10f);
        }
        else if (source.Equals("offline"))
        {
            QuestionPaged = await database.GetQuestionsPaged(topicRef, page, 10f);
        }
    }
    private async Task GetSearchQuestions(int page = 1)
    {

        if (source.Equals("online"))
        {
            QuestionPaged = await repository.GetSearchPagedQuestions(topicRef, page, 30f, searchTerm);
        }
        else if (source.Equals("offline"))
        {
            QuestionPaged = await database.GetSearchQuestionsPaged(topicRef, page, 10f, searchTerm);
        }

        if (QuestionPaged.Questions.ToList().Count() == 0)
        {
            searchResultsNull = true;
        }
    }

    private void OpenSearchBar() => searchBarOpen = !searchBarOpen;
    private void OpenToolbar() => showToolbar = !showToolbar;

    private void OpenDialog(int questionId)
    {
        var parameters = new DialogParameters<CorrectionsDialog>();
        parameters.Add(x => x.questionId, questionId);
        var options = new DialogOptions()
            {
                CloseButton = true,
                MaxWidth = MaxWidth.ExtraSmall,
                Position = DialogPosition.Center,
            };
        DialogService.Show<CorrectionsDialog>("Submit Answer Correction", parameters, options);
    }
}
