@page "/settings"

<div class="container-fluid">
    <div class="fixed-top">
        <TopNavBar>
            <div class="container-fluid">
                <span class="navbar-brand text-white mb-0 h1">Settings</span>
            </div>
        </TopNavBar>
    </div>

    <section class="mt-5">
        @*<MudPaper Class="pa-16 ma-2" Elevation="3">
                <h4 class="card-title mb-3">
                    Change Font
                </h4>
                <div class="card-body">
                    <p class="card-text mb-1">
                        Changes the font on the questions page
                    </p>
                    <MudSelect T="string" @onchange="SetFont" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="@("questions-section-mont-font")">Montserrat</MudSelectItem>
                        <MudSelectItem Value="@("questions-section-roboto-font")">Roboto</MudSelectItem>
                        <MudSelectItem Value="@("questions-section-roman-font")">Gideon Roman</MudSelectItem>
                    </MudSelect>
                </div>
        </MudPaper>*@

        <MudPaper Class="p-5 mb-2">
            <MudText Typo="Typo.h4">
                Contact Us
            </MudText>
            <div>
                <MudText Typo="Typo.body1">
                    Do you like something? Or want to complain about something? Use any of the networks below
                </MudText>
                <MudButton StartIcon="@Icons.Custom.Brands.WhatsApp" Href="https://wa.me/263718086035" Variant="Variant.Filled" Size="Size.Large" Color="Color.Inherit">WhatsApp</MudButton>
                <MudButton StartIcon="@Icons.Custom.Brands.Facebook" Href="https://fb.me/medbase.co.zw" Variant="Variant.Filled" Size="Size.Large" Color="Color.Inherit">Facebook</MudButton>
                <MudButton StartIcon="@Icons.Custom.Brands.Instagram" Href="https://instagram.com/medbase.zw" Variant="Variant.Filled" Size="Size.Large" Color="Color.Inherit">Instagram</MudButton>
            </div>
        </MudPaper>


        <MudPaper Class="p-5">
            <MudText Typo="Typo.h4">
                About Medbase
            </MudText>
            <div>
                <MudText Typo="Typo.body1">
                    Built with Blazor Hybrid & C#
                    <br />
                    App Version @(VersionTracking.Default.CurrentVersion.ToString())
                    <br />
                    <br />
                    Tanaka Mawere ©️ @(DateTime.Now.Year.ToString())
                </MudText>
            </div>
        </MudPaper>

    </section>
</div>

@code {
    private void SetFont(ChangeEventArgs e)
    {
        // Set a string value:
        Preferences.Default.Set("questions_font", e.Value.ToString());
    }

    string[] fonts = { "Montserrat", "Roboto", "Gideon Roman" };
}
