@page "/topics/{courseRef}"
@using MedbaseHybrid.Services;
@inject IApiRepository repository
@inject IDatabaseRepository database
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div class="container">
    <div class="fixed-top">
        <TopNavBar>
            <div class="container-fluid">
                <span class="navbar-brand text-white mb-0 h1">Topics</span>
            </div>
        </TopNavBar>
    </div>
    <div class="row align-items-center justify-content-center mt-5 mb-auto">

        <div class="row">
            @if (!TopicsList.Any() || loadingDownload.Equals(true))
            {
                <LoadingComponent />
            }
            else
            {
                <Virtualize Items="TopicsList.ToList()" TItem="Topic" Context="item">
                    <ItemContent>
                        <div class="col-lg-4 mb-2">
                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h6">
                                            @item.Name
                                        </MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Text" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Quiz" @onclick="() => OpenDialog(item.TopicRef)">Quiz</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Download" @onclick="() => Download(item.Id)">Download</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ViewComfy" Href="@($"questions/{item.TopicRef}/online")">View</MudButton>
                                </MudCardActions>
                            </MudCard>
                            @*<div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <h5 class="card-title mb-3">
                                        @item.Name
                                    </h5>
                                    <div class="row text-center">
                                        <div class="col-4">
                                            <a class="btn btn-primary" href="@($"questions/{item.TopicRef}/online")">View😆</a>
                                        </div>
                                        <div class="col-5">
                                            <button class="btn btn-primary" @onclick="() => Download(item.Id)">Download⏬</button>
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-primary" @onclick="() => CustomiseQuiz(item.TopicRef)">Quiz🤔</button>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center border-0 shadow card-footer mt-2" style="display:@(showCustomisation.Equals(true) && topicToCustomise == item.TopicRef ? "block" : "none")">
                                        <h6 class="fw-bold">Customise Quiz🛠️</h6>
                                        
                                        <div class="container text-center m-1">

                                            <button class="btn @(negativeMarking.Equals(true) ? "btn-primary" : "btn-outline-primary")" @onclick="ToggleNegativeMarking">
                                                @(negativeMarking.Equals(true) ? "Negative Marking On" : "Negative Marking Off")
                                            </button>
                                        </div>
                                        <div class="row text-center align-content-center justify-content-center">
                                            <p class="col-auto">Number Of Questions</p>
                                            <input class="col-auto" type="number" max="10" min="1" @bind="numberOfQuestions" />
                                        </div>
                                        <a class="btn btn-primary" href="@($"/quiz/{item.TopicRef}/{numberOfQuestions}/{negativeMarking}/online")">
                                            Start!🥸
                                        </a>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </ItemContent>
                </Virtualize>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string courseRef { get; set; } = "";
    bool showCustomisation = false;
    bool loadingDownload;
    int topicToCustomise;
    private bool negativeMarking = false;
    private int numberOfQuestions = 1;

    private IEnumerable<Topic> TopicsList { get; set; } = Enumerable.Empty<Topic>();

    private void ToggleNegativeMarking()
    {
        negativeMarking = !negativeMarking;
    }

    protected async override Task OnParametersSetAsync() => TopicsList = await repository.GetTopics(courseRef);

    private void CustomiseQuiz(int reference)
    {
        topicToCustomise = reference;

        if (showCustomisation.Equals(false))
            showCustomisation = true;
        else if (showCustomisation.Equals(true))
            showCustomisation = false;
    }

    async Task Download(long inputId)
    {
        Topic topic = TopicsList.Where(x => x.Id == inputId).First();
        loadingDownload = true;
        if (topic is null) return;

        try
        {
            if (CheckIfAlreadyDownloaded(topic) == false)
            {
                await database.SaveTopicAndQuestionsAsync(await repository.GetQuestionsSimple(topic.TopicRef), topic);
                ShowSuccessSnackbar();
            }
            else
                ShowAlreadyDownloadedSnackbar();
        }
        catch (Exception)
        {
            throw;
        }
        finally
        {
            loadingDownload = false;
            StateHasChanged();
        }
    }

    private void ShowSuccessSnackbar()
    {
        Snackbar.Add
        (
            @<div>
                Your topic was downloaded successfully!🤭
            </div>
        );
    }

    private void ShowAlreadyDownloadedSnackbar()
    {
        Snackbar.Add
        (
                @<div>
                    Topic is already downloaded🥲
                </div>
        );   
    }

    private void OpenDialog(int topic)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<QuizCustomisationDialog>(topic.ToString(), options);
    }

    bool CheckIfAlreadyDownloaded(Topic topic)
    {
        List<Topic> downloadedTopics = database.GetTopicsAsync().ToList();
        bool downloaded = false;
        Topic topicFound = downloadedTopics.Where(x => x.Name == topic.Name).FirstOrDefault();

        if (topicFound is not null)
        {
            downloaded = true;
        }
        return downloaded;
    }
}
